<!-- account.html -->
<html>
<head>
    <title>Account</title>
    <style>
        p {
           font-size: 20px;
        }
        h1 {
            text-align: center;
        }
        #st1{
            width: 150px;
            height: 50px;
            font-size: 20px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px 0px black; 
        }
        button{
            width: 75px;
            height: 50px;
            font-size: 20px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px 0px black; 
        }
        table {
            width: 800px;
            overflow: auto;
            margin-bottom: 100px;
        }
        form {
            display: none;
        }
        td {
            border: 1px solid black;
            padding: 10px;
        }
        input {
            width: 100px;
        }
        input {
            width: 100px;
            height: 25px;
            transform: rotate(0deg) scale(1);
        }
        /* input:hover {
            transform: rotate(90deg) scale(1.5);
        } */
        body {
            background-color: rgb(53, 133, 73);
            background-image: url("{{ url_for('static', filename='9.gif')}}");
            background-repeat:no-repeat;
            background-attachment:fixed;
            background-size: 30%;
            background-position: 50px;
        }
        .a{
            width: 800px;
            height: 50px;
            position: relative;
            left: 600px;
            top: 100px;
            justify-content: center;
        }
        .b{
            bottom: 100px;
            width: 500px;
            height: 50px;
            position: relative;
            left: 600px;
            top:120px;
            justify-content: center;
        }
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
            text-align: center;
            background: rgb(159, 173, 162);
        }
    </style>

</head>

<body onload="init()">
    <p><button onclick="window.location.href='/'">登出</button></p>
    <div class="a">
    <h1>欢迎，<span id="kehuname"></span>！您的卡号是：<span id="kehuid"></span></h1>
    </div>
    <div class="a">
    <p>您的余额是：<span id="balance"></span>元</p>
    <p>您的交易限额为：<span id="limit"></span>元</p>
    </div>
    <div class="b">
    <p><button id="st1">您的交易记录</button></p>
    
    <button id="dt" onclick="change.bind(this)()">存钱</button>
    <button id="wt" onclick="change.bind(this)()">取钱</button>
    <button id="tt" onclick="change.bind(this)()">转账</button>

    <form id="deposit-form">
        <p>金额(元)：<input id="deposit-amount" type="number" min="0" step="1"></p>
        <p>密码：<input id="deposit-password" type="password"></p>
        <p><button id="dt1">确定</button> 
    </form>
    <form id="withdraw-form">
        <p>金额(元)：<input id="withdraw-amount" type="number" min="0" step="1"></p>
        <p>密码：<input id="withdraw-password" type="password"></p>
        <p><button id="wt1">确定</button> 
    </form>
    <form id="transfer-form">
        <p>转入账户卡号：<input id="transfer-target"></p>
        <p>金额(元)：<input id="transfer-amount" type="number" min="0" step="1"></p>
        <p>密码：<input id="transfer-password" type="password"></p>
        <p><button id="tt1" >确定</button> 
    </form>
    <table id="stable" style="font-size: 24px;"></table>
    </div>
    <script>
        // 获取URL中的账号
        var params = window.location.search;
        var searchParams = new URLSearchParams(params);
        var kehuid = searchParams.get("kehuid");

        // 获取网页中的元素
        var nameElement = document.getElementById("kehuname");
        var idElement = document.getElementById("kehuid");
        var balanceElement = document.getElementById("balance");
        var limitElement = document.getElementById("limit");
        
        var stableElement = document.getElementById("stable");

        // 表单
        var df = document.getElementById("deposit-form");
        var wf = document.getElementById("withdraw-form");
        var tf = document.getElementById("transfer-form");

        var dt2 = document.getElementById("dt1");
        var wt2 = document.getElementById("wt1");
        var tt2 = document.getElementById("tt1");
        var st2 = document.getElementById("st1");

        // 
        var dd1 = document.getElementById("deposit-amount");
        var dd2 = document.getElementById("deposit-password");

        var wd1 = document.getElementById("withdraw-amount");
        var wd2 = document.getElementById("withdraw-password");

        var td1 = document.getElementById("transfer-amount");
        var td2 = document.getElementById("transfer-password");
        var td3 = document.getElementById("transfer-target");

        // 这个函数会在网页加载时执行，用来显示客户的信息和提醒
        function init() {
            // 设置元素的内容
            post("/kehuid_post", {kehuid_: kehuid});
            idElement.innerHTML = kehuid;
            df.style.display = "none";
            wf.style.display = "none";
            tf.style.display = "none";
        }

        // 使用账号get信息
        function post(url,data) {
            // 创建请求选项
            var bt_;
            if(url == "/chexiao"||url == "/jujue"||url == "/jieshou")
            {
                bt_ = data.bt_;
            }
            let options = {
                method: 'POST', // 设置请求方法为POST
                headers: {
                    'Content-Type': 'application/json' // 设置内容类型为JSON
                },
                body: JSON.stringify(data) // 将JavaScript对象或值转换为JSON字符串
            };
            // 发送请求
            fetch(url, options)
            .then(response => response.json()) // 解析响应为JSON
            .then(data => {
                console.log(JSON.stringify(data))
                if(url == "/kehuid_post")
                {
                    // console.log(JSON.stringify(data))
                    nameElement.innerHTML = data.dota[0];
                    balanceElement.innerHTML = data.dota[2];
                    limitElement.innerHTML = data.dota[3];
                }
                else if(url == "/cunqian")
                {
                    alert(data.info);
                    if(data.flag) df.reset();
                }
                else if(url == "/quqian")
                {
                    alert(data.info);
                    if(data.flag) wf.reset();
                }
                else if(url == "/zhuan")
                {
                    alert(data.info);
                    if(data.flag) tf.reset();
                }
                else if(url == "/jieshou")
                {
                    if (data.flag)
                    {
                        var row = bt_.parentNode.parentNode;
                        var cell1 = row.cells[4];
                        cell1.innerHTML = "已确认";
                        row.deleteCell(5);
                    }
                    else alert(data.info);
                }
                else if(url == "/chexiao")
                {
                    if (data.flag)
                    {
                        var row = bt_.parentNode.parentNode;
                        var cell1 = row.cells[4];
                        cell1.innerHTML = "已撤销";
                        row.deleteCell(5);
                    }
                    else alert(data.info);
                }
                else if(url == "/jujue")
                {
                    if (data.flag)
                    {
                        var row = bt_.parentNode.parentNode;
                        var cell1 = row.cells[4];
                        cell1.innerHTML = "已拒绝";
                        row.deleteCell(5);
                    }
                    else alert(data.info);
                }
                else if(url == "/kehusearch")
                {
                    if (data.flag) {
                        atable(data.dota);
                    }
                    else alert(data.info);
                }
            })
            .catch(error => console.error('Error:', error)); // 捕获并打印任何错误
        }
        //
        //
        function atable(data){
            // 表头
            var thead = document.createElement("thead");
            var tr1 = document.createElement("tr");
            var th1 = document.createElement("th");
            var th2 = document.createElement("th");
            var th3 = document.createElement("th");
            var th4 = document.createElement("th");
            var th5 = document.createElement("th");
            th1.innerHTML = "交易ID";
            th2.innerHTML = "发起客户";
            th3.innerHTML = "接收客户";
            th4.innerHTML = "金额";
            th5.innerHTML = "交易状态";
            tr1.appendChild(th1);
            tr1.appendChild(th2);
            tr1.appendChild(th3);
            tr1.appendChild(th4);
            tr1.appendChild(th5);
            thead.appendChild(tr1);
            stableElement.appendChild(thead);
            // 表内容
            var tbody = document.createElement("tbody");
            for (var i = 0;i < data.length;i++)
            {
                var tr2 = document.createElement("tr");
                for (var j = 0;j < 5;j++)
                {
                    var td = document.createElement("td");
                    td.innerHTML = data[i][j];
                    tr2.appendChild(td);
                    if(j==4)
                    {
                        var btn1 = document.createElement("button");
                        var btn2 = document.createElement("button");
                        btn1.id = JSON.stringify(data[i][0])
                        btn2.id = JSON.stringify(data[i][0])
                        var td_ = document.createElement("td");
                        // 撤销
                        if(data[i][5] == 1)
                        {
                            btn1.innerHTML = "撤销";
                            btn1.addEventListener("click",chexiao);
                            td_.appendChild(btn1);
                        }
                        // 接受 拒绝
                        else if(data[i][5] == 2)
                        {
                            var test = data[i][0]
                            btn1.innerHTML = "确认收款";
                            btn1.addEventListener("click",jieshou);
                            btn2.innerHTML = "拒绝收款";
                            btn2.addEventListener("click",jujue);
                            td_.appendChild(btn1);
                            td_.appendChild(btn2);
                        }
                        else
                        {

                        }
                        tr2.appendChild(td_);
                    }
                }
                tbody.appendChild(tr2);
            }
            stableElement.appendChild(tbody);
        }


        // 给确定按钮添加点击事件
        st2.addEventListener("click", function(e) {
            // 阻止表单的默认提交行为
            e.preventDefault();
            if(stableElement.rows.length != 0)
            {
                stableElement.innerHTML = "";
                return;
            }
            df.style.display = "none";
            wf.style.display = "none";
            tf.style.display = "none";

            var sdata={
                kehuuser : kehuid
            }
            // 验证输入的账号和密码是否为空
            post("/kehusearch",sdata);
        });
        dt2.addEventListener("click", function(e) {
            // 阻止表单的默认提交行为
            e.preventDefault();
            var cdata={
                kehuuser : kehuid,
                amount : dd1.value,
                pass : dd2.value
            }
            // 验证输入的账号和密码是否为空
            if (dd1.value == "" || dd2.value == "") {
                alert("输入不能为空");
                return;
            }
            post("/cunqian",cdata);
        });
        wt2.addEventListener("click", function(e) {
            // 阻止表单的默认提交行为
            e.preventDefault();
            var qdata={
                kehuuser : kehuid,
                amount : wd1.value,
                pass : wd2.value
            }
            // 验证输入的账号和密码是否为空
            if (wd1.value == "" || wd2.value == "") {
                alert("输入不能为空");
                return;
            }
            post("/quqian",qdata);
        });
        tt2.addEventListener("click", function(e) {
            // 阻止表单的默认提交行为
            e.preventDefault();
            var zdata={
                targetuser : td3.value,
                amount : td1.value,
                pass : td2.value,
                kehuuser : kehuid
            }
            // 验证输入的账号和密码是否为空
            if (td1.value == "" || td2.value == "" || td3.value == "") {
                alert("输入不能为空");
                return;
            }
            post("/zhuan",zdata);
        });
        
        // 点击事件，显示或隐藏表单
        function change(){
            var form1,form2,form3;
            stableElement.innerHTML = "";
            if(this.id =="dt"){
                form1 = df;
                form2 = wf;
                form3 = tf;
            } else if(this.id =="wt"){
                form1 = wf;
                form2 = df;
                form3 = tf;
            } else if(this.id =="tt"){
                form1 = tf;
                form2 = df;
                form3 = wf; 
            }
            if (form1.style.display == "none") {
                form1.style.display = "block";
                form2.style.display = "none";
                form3.style.display = "none";
            } else {
                form1.style.display = "none";
            }
        };
        //
        function chexiao(){
            var chedata={
                jiaoyiid : this.id,
                bt_ : this // 这个是按钮对象，不要用
            }
            post("/chexiao",chedata);
        }
        function jieshou(){
            var jiedata={
                jiaoyiid : this.id,
                bt_ : this // 这个是按钮对象，不要用
            }
            console.log(JSON.stringify(jiedata))
            post("/jieshou",jiedata);
        }
        function jujue(){
            var judata={
                jiaoyiid : this.id,
                bt_ : this // 这个是按钮对象，不要用
            }
            post("/jujue",judata);
        }

    </script>
    <!-- <div class="footer">
        <h2></h2>
    </div> -->
</body>
</html>
