<!DOCTYPE html>
<html>
<head>
    <title>Manager</title>
    <script type="text/javascript">
        function logout() {
            location.href = "/";
        };

        function sendMessage() {
            let url = "/sendMessage";
            let data = {
                testitem: "send message"
            };

            // 创建请求选项
            let options = {
                method: 'POST', // 设置请求方法为POST
                headers: {
                    'Content-Type': 'application/json' // 设置内容类型为JSON
                },
                body: JSON.stringify(data) // 将JavaScript对象或值转换为JSON字符串
            };

            // 发送请求
            fetch(url, options)
                .then(response => response.json()) // 解析响应为JSON
                .then(data => alert(JSON.stringify(data))) // 在控制台打印结果
                .catch(error => console.error('Error:', error)); // 捕获并打印任何错误
        }
    </script>
</head>
<body>
    <button id="myButton", onclick="logout()">Logout</button>

    <button id="send", onclick="sendMessage()">send sth</button>
</body>
</html>