<!DOCTYPE html>
        <html>
        <head>
            <title>Flask App</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        </head>
        <body>
            <button id="click-button">点击</button>
            <p id="message"></p>

            <script>
            $(document).ready(function(){
                $("#click-button").click(function(){
                    $.get("/get_message", function(data){
                        $("#message").html(data.message);
                    });
                });
            });
            </script>
        </body>
        </html>