<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    <p id="message">This is login in page.</p>
    <center>
        <form action="/login" method="get">  
            <label for="username">用户名:</label>  
            <input type="text" id="username" name="username">  
            <br>  
            <label for="password">密码:</label>  
            <input type="password" id="password" name="password">  
            <br>  
            <input type="submit" value="登录">  
        </form>
    </center>
    
</body>
</html>